<div class="field{% if field.required %} required{% endif %}">
	<label>{{ field.label }}</label>
	<input type="datetime-local" name="{{ field.id }}" placeholder="{{ field.label }}"{% if field.required %} required="required"{% endif %}{% if value is defined %} value="{{ value }}"{% endif %}>
</div>