<html>
	<style>
		html, body, table, td {
			margin: 0;
			padding: 0;
			font-family: Verdana;
		}

		td {
			text-align: center;
			margin: 0;
			padding: 0;
		}
		
		h3 {
			margin-top: 10mm;
			font-size: 3.5mm;
		}

		h2 {
			margin-bottom: 30mm;
		}
	</style>
	<body>
		<table>
			{% set i = 1 %}
			{% for post in posts %}
				{% if i == 1 %}<tr>{% endif %}
				<td width="74mm" height="104.5mm">
					<h1>{{ get_post_meta(post, 'first_name', 1) }}</h1>
					<h2>{{ get_post_meta(post, 'last_name', 1) }}</h2>
					<br>
					{% for t in get_the_terms( post, 'wpep-function' ) %}
						<h3>{{ t.name }}</h3>
					{% endfor %}
				</td>
				<td width="74mm" height="104.5mm">
					<barcode code="{{ get_post_meta(post, 'id_card_uid', 1) }}" type="EAN13" text="1" class="barcode" height="0.66">
					
				</td>
				{% set i = i + 1 %}
				{% if i == 3 %}
					</tr>
					{% set i = 1 %}
				{% endif %}
			{% endfor %}
			{% if i == 2 %}
				</tr>
			{% endif %}
		</table>
	</body>
</html>