<div id="wpep-register">
	<form action="" class="ui form">
		 <div class="field">
			<label>Name</label>
			<div class="two fields">
				<div class="field">
					<input type="text" name="shipping[first-name]" placeholder="First Name">
				</div>
				<div class="field">
					<input type="text" name="shipping[last-name]" placeholder="Last Name">
				</div>
			</div>
		</div>
		<div class="field">
			<label>E-mail</label>
			<input type="email" name="email" placeholder="E-mail" required="required">
		</div>
		<div class="field">
			<label>Password</label>
			<input type="password" name="password" placeholder="Password" required="required">
		</div>
		<button class="ui button" type="submit">Register</button>
	</form>
</div>