<div id="wpep-event-registration">
	<table class="ui celled striped table">
		<tbody>
			<tr>
				<td>{{ __('E-mail', 'wpep') }}</td>
				<td>{{ email }}</td>
			</tr>
		</tbody>
	</table>
	{{ user_fields|raw }}
	{{ additional_fields|raw }}
</div>